.chatContainerReplyContainer{
	position: fixed;
	width: 90%;
	bottom: -10px;
	z-index: 10000;
	border: 3px solid black !important;
	background-color: $background-black !important;
	opacity: 0.9;
	.chatContainerReply {
		width: 74%;
	}
	.chatContainerReplyButton{
		width: 24%;
		background-color: limegreen;
	}
}

.chat-container {
	width: 90%;
	margin: 10px auto;
	margin-bottom: 70px;
	border: 2px solid black;
	border-radius: 10px;
}

.chatContainerHeader {
	text-align: center;
	.chatContainerTitleText {
		margin: 0;
		background-color: steelblue;
		border-radius: 10px 10px 0 0;
		border-bottom: 1px solid black;
	}
	.chatContainerDescText {
		margin: 0;
		background-color: $background-grey;
		border-bottom: 1px solid black;
	}
}

.chatContainerMessages {
	padding: 10px;
	background-color: $background-grey;

	.messageContainer {
		background-color: white;
		border-radius: 10px;
		border: 2px solid black;
		padding: 5px 15px;
		margin: 10px 0;
		width: 80%;

		&:nth-child(2n) {
			background-color: $background-black;
			color: white;
			border: 2px solid white;
			margin-left: auto;
			margin-right: 0;
		}
	}
}