.footer-container {
	padding: 10px;

	.addRemoveButtons {
		width: 20px;
	}
	.castAddInfoContainer {
		text-align: center;
		width: 300px;
		margin: 0 auto;
		.castInfoBoxText {
			font-size: 1.4em;
			font-weight: bold;
		}
	}

	.footerCircle-container {
		text-align: center;

		.timeCircle-container {

			p {
				margin: 5px;
				border: 4px solid black;
				background-color: $background-black;
				color: white;
			}
			.timeCircle {
				width: 70%;
				margin: 0 auto;
			}
		}

		.appendedCircleImage {
			width: 75px;
			height: 75px;
			border-radius: 20%;
		}

		.appendedCircleName {
			position: absolute;
			margin-top: -60px;
			margin-left: 10px;
			font-size: 0.8em;
			color: white;
			width: 50px;
			text-shadow: 2px 2px 2px #000;
		}
	}
}

