.footer-container {
	padding: 10px;

	.addRemoveButtons {
		width: 20px;
	}

	.footerCircle-container {
		text-align: center;

		.timeCircle-container {
			.timeCircle {
				width: 70%;
				margin: 0 auto;
			}
		}
	}
}

