
.container {
	width: 100%;
	height: 625px;

	.map-container {
		width: 100%;
		height: 70%;
		border: 1px solid lightgrey;

		.editOverlay {
			width: 100%;
    		position: absolute;
    		background-color: black;
    		height: 0;
    		transition: height 1.5s ease-in;
    		opacity: 0.95;
    		z-index: 5;
    		overflow: auto;
    		text-align: center;

    		.castMessageOverlay, .searchOverlay, .createCircleOverlay, .settingsOverlay{
    			display: none;
    			color: white;
    		}

    		.castMessageOverlay {

    			padding: 20px 0;

    			input, textarea {
    				color: black;
    			}

    			.inputWidth {
    				width: 200px;
    			}

    			.groupSelect {

    				padding: 0 10px 0;

    				h6 {
    					margin-bottom: 0;
    				}

	    			label {
	    				display: inline-block;
	    				margin: 0 5px;

	    				input {
	    					display: inline-block;
	    				}
	    			}
    			}

    			.cast-bottom {
    				padding: 40px 0;

    				.resetCastInfo {
    					background-color: red;
    					color: white;
    					opacity: 0.8;
    					width: 150px;

    					&:hover {
    						background-color: lighten(red, 10%);
    					}
    				}

    				.submitCastInfo {
    					background-color: green;
    					color: white;
    					opacity: 0.8;
    					width: 150px;

    					&:hover {
    						background-color: lighten(green, 10%);
    					}
    				}
    			}
    		}

    		.searchOverlay {

    			.searchcircle-container {
    				margin-top: 30px;
    			}

    			h5 {
    				margin: 10px 0;
    			}

    			.search-bottom {

    				.defaultSearchButton {
    					background-color: red;
    					color: white;
    					opacity: 0.8;
    					width: 150px;
    					margin: 10px;

    					&:hover {
    						background-color: lighten(red, 10%);
    					}
    				}

    				.submitSearchButton {
    					background-color: green;
    					color: white;
    					opacity: 0.8;
    					width: 150px;
    					margin: 10px;

    					&:hover {
    						background-color: lighten(green, 10%);
    					}
    				}
    			}
    		}

    		.createCircleOverlay {
    			
                .createcircle-top {
                    color: white;

                    #circleDisplayArea {
                      margin-top: 2em;
                      width: 100%;
                      overflow-x: auto;

                      img {
                        max-width: 100%;
                      }
                    }
                }

                .cancelCreateCircleButton {
                        background-color: red;
                        color: white;
                        opacity: 0.8;
                        width: 150px;
                        margin: 10px;

                        &:hover {
                            background-color: lighten(red, 10%);
                        }
                    }

                .submitCreateCircleButton {
                    background-color: green;
                    color: white;
                    opacity: 0.8;
                    width: 150px;
                    margin: 10px;

                    &:hover {
                        background-color: lighten(green, 10%);
                    }
                }
    		}

            .settingsOverlay {

                .settings-top{

                    padding-top: 20px;

                    .settingsInputWidth{
                        width: 200px;
                        padding: 0;
                        color: black;
                    }
                }

                .settings-bottom {

                    .defaultSettingsButton {
                        background-color: red;
                        color: white;
                        opacity: 0.8;
                        width: 150px;
                        margin: 20px 20px 0;

                        &:hover {
                            background-color: lighten(red, 10%);
                        }
                    }

                    .saveSettingsButton {
                        background-color: green;
                        color: white;
                        opacity: 0.8;
                        width: 150px;
                        margin: 20px;

                        &:hover {
                            background-color: lighten(green, 10%);
                        }
                    }
                }
            }
		}

		.topleft-container {
			display: inline-block;
			width: 49%;
			height: $mapWidth/2;

			img {
				position: absolute;
				left: 0;
				width: 60px;
				padding: 10px;
                z-index: 3;
			}
		}
		.topright-container {
			display: inline-block;
			width: 49%;
			height: $mapWidth/2;

			img {
				position: absolute;
				right: 0;
				width: 43px;
				padding: 10px;
                z-index: 3;
			}
		}
		.bottomleft-container {
			display: inline-block;
			width: 49%;
			height: $mapWidth/2;

			img {
				position: absolute;
				width: 45px;
				margin-top: 125px;
				padding: 10px;
                z-index: 3;
			}
		}
		.bottomright-container {
			display: inline-block;
			width: 49%;
			height: $mapWidth/2;

			img {
				position: absolute;
				right: 0;
				width: 60px;
				margin-top: 120px;
				padding: 10px;
                z-index: 3;
			}
		}

		.map-canvas {
			width: 100%;
			height: 70%;
			position: absolute;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: 50%;
			-webkit-mask-size: $mapWidth;
			-webkit-mask-image: url(../img/circle.svg);
		}

	}

	.footer-container {
		padding: 10px;

		.addRemoveButtons {
			width: 20px;
		}

		.footerCircle-container {
			text-align: center;
		}
	}

}
