doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title the social circle
    link(rel="stylesheet" href="vendor/skeleton/css/normalize.css")
    link(rel="stylesheet" href="vendor/skeleton/css/skeleton.css")
    link(rel="stylesheet" href="vendor/jcrop/css/jquery.Jcrop.min.css")
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
      
    header
      img(src="img/thesocialcircle.png", alt="Logo", title="The Social Circle")
    .login.hidden
      h4 Please Login or Register
      form
        label Enter Email
        input.emailInput(type='text', name='email', placeholder='Email', required='required')
        label Enter Password
        input.userPasswordInput(type='password', name='password', placeholder='Password' required='required')
        button.register Register
        input.loginButton(type='submit', name='login', value='Login')
    .loggedIn.hidden
        h6 User Avatar
        input.avatarInput(type='file', name='avatar', required='required')
        h6 User Name
        input.userNameInput(type='text', name='user', placeholder='User01', required='required')
        h6 Default Cast Position
        label Current Location 
          input(type="radio" name="userdefaultcastposition" value="current location" checked)#userDefaultCastPositionCurrent
        label Choose Location 
          input(type="radio" name="userdefaultcastposition" value="choose location")#userDefaultCastPositionChoose
        h6 Default Chat Background Color
        select.defaultChatBackgroundColor
          option(selected) White
          option Black
          option Red 
          option Blue
          option Yellow
          option Green
          option Purple
          option Grey
          option Orange
          option Indigo
        h6 Default Chat Text Color
        select.defaultChatBackgroundColor
          option White
          option(selected) Black
          option Red 
          option Blue
          option Yellow
          option Green
          option Purple
          option Grey
          option Orange
          option Indigo
        .profileButtons
          button.saveProfile.profileButton.
            Save
          button.resetProfile.profileButton.
            Reset
    .container
      .map-container
        .editOverlay
          .castMessageOverlay
            .cast-top
              .row
                .six.columns
                  label(for="castTitle") Title
                  input(type="text")#castTitle.inputWidth
                  label(for="castMessage") Message
                  textarea(maxlength="100")#castMessageText.inputWidth
                  label(for="datetimepicker") Expiration Date
                  input(type="datetime-local")#datetimepicker.inputWidth
                .six.columns
                  label(for="castAttachment") Attachment
                  input(type="file")#castAttachment
                  .groupSelect
                    h6 Cast Message to...
                    label Group
                      input(type="checkbox" label="Example Group").castGroups
                    label Group
                      input(type="checkbox" label="Example Group").castGroups
                    label Group
                      input(type="checkbox" label="Example Group").castGroups
                    label Group
                      input(type="checkbox" label="Example Group").castGroups
                    label Group
                      input(type="checkbox" label="Example Group").castGroups
                    label Group
                      input(type="checkbox" label="Example Group").castGroups
                  label Current Location 
                    input(type="radio" name="castposition" value="current location" checked)#castPositionCurrent
                  label Choose Location 
                    input(type="radio" name="castposition" value="current location")#castPositionChoose
            .cast-bottom
              .row
                .six.columns
                  button.resetCastInfo.
                    Cancel 
                .six.columns
                  button.submitCastInfo.submitButton.
                    Broadcast
          .searchOverlay
            .searchcircle-container
              h5 Search Circles
              input(type="text")#searchCircleInput
            .searchuser-container
              h5 Search Users
              input(type="text")#searchUserInput
            .search-bottom
              .row
                .six.columns
                  button.defaultSearchButton.
                    Default
                .six.columns
                  button.submitSearchButton.submitButton.
                    Search
              
          .createCircleOverlay
            .createcircle-top
              h5 Circle Icon
              input(type="file")#createCircleIcon
              #circleDisplayArea
              .preview-container
                #preview
              .createCircleInputs
                h5 Circle Name
                input(type="text")#createCircleName
                h5 Circle Description
                input(type="text")#createCircleDescription
            .createcircle-bottom
              .row
                .six.columns
                  button.cancelCreateCircleButton.clearButton.
                    Cancel
                .six.columns
                  button.submitCreateCircleButton.clearButton.
                    Create
          .settingsOverlay
            .settings-top
              .row
                .six.columns
                  h6 User Name 
                  div.insertUserName
                  h6 User Avatar
                  div.insertUserAvatar
                    button.changeAvatarButton.
                      CHANGE AVATAR
                .six.columns
                  h5 Default Cast Position
                  label Current Location 
                    input(type="radio" name="defaultcastposition" value="current location" checked)#defaultCastPositionCurrent
                  label Choose Location 
                    input(type="radio" name="defaultcastposition" value="current location")#defaultCastPositionChoose
            .settings-bottom
              .row
                .six.columns
                  button.defaultSettingsButton.
                    Discard
                .six.columns
                  button.saveSettingsButton.submitButton.
                    Save
        .map-canvas#map-canvas
        .topleft-container
          img(src="img/cast.png" alt="Cast" title="Cast Message")#castMessageButton
        .topright-container
          img(src="img/search.png" alt="Search" title="Search Circles")#searchButton
        .bottomleft-container
          img(src="img/notifications.png" alt="Create Circle" title="Create Circle")#createCircleButton
        .bottomright-container
          img(src="img/settings.png" alt="Settings" title="Settings")#settingsButton
      .footer-container
        img(src="img/addButton.png" alt="Add Circle" title="Add Circle")#addCircleButton.addRemoveButtons
        img(src="img/removeButton.png" alt="Remove Circle" title="Remove Circle")#removeCircleButton.addRemoveButtons
        .footerCircle-container
          .timeCircle-container

    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="vendor/firebase/firebase.js")
    script(src="vendor/jcrop/js/jquery.Jcrop.min.js")
    script(src="vendor/lodash/lodash.min.js")
    script(src="vendor/moment/moment.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2qt90yavxyrmR6Ff61nUniGmLMi51AlY")
    script(src="js/richmarker.js")
    script(src="js/timeCircle.js")
    script(src="js/main.js")
