doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title the social circle
    link(rel="stylesheet" href="vendor/skeleton/css/normalize.css")
    link(rel="stylesheet" href="vendor/skeleton/css/skeleton.css")
    link(rel="stylesheet" href="vendor/jquery/jquery.datetimepicker.css")
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
      
    header
      img(src="img/thesocialcircle.png", alt="Logo", title="The Social Circle")
    .container
      .map-container
        .editOverlay
          .castMessageOverlay
            .cast-top
              .row
                .six.columns
                  label(for="castTitle") Title
                  input(type="text")#castTitle.inputWidth
                  label(for="castMessage") Message
                  textarea(maxlength="100")#castMessageText.inputWidth
                  label(for="datetimepicker") Expiration Date
                  input(type="text")#datetimepicker.inputWidth
                .six.columns
                  label(for="castAttachment") Attachment
                  input(type="file")#castAttachment
                  .groupSelect
                    h6 Cast Message to...
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
            .cast-bottom
              .row
                .six.columns
                  button.resetCastInfo.
                    Reset 
                .six.columns
                  button.submitCastInfo.
                    Broadcast
          .searchOverlay
            .searchcircle-container
              h5 Search Circles
              input(type="text")#searchCircleInput
            .searchuser-container
              h5 Search Users
              input(type="text")#searchUserInput
            .search-bottom
              .row
                .six.columns
                  button.defaultSearchButton.
                    Default
                .six.columns
                  button.submitSearchButton.
                    Search
              
          .notificationsOverlay
            .notifications
              img(src="img/addButton.png" alt="Add Circle" title="Add Circle")#addNotificationButton.addRemoveButtons
              img(src="img/removeButton.png" alt="Remove Circle" title="Remove Circle")#removeNotificationButton.addRemoveButtons
              ul.notifications-list#notificationsAppender
          .settingsOverlay
            .settings-top
              .row
                .six.columns
                  label(for="castTitle") Title
                  input(type="text")#castTitle.inputWidth
                  label(for="castMessage") Message
                  textarea(maxlength="100")#castMessageText.inputWidth
                  label(for="datetimepicker") Expiration Date
                  input(type="text")#datetimepicker.inputWidth
                .six.columns
                  label(for="castAttachment") Attachment
                  input(type="file")#castAttachment
                  .groupSelect
                    h6 Cast Message to...
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
                    label Group
                      input(type="checkbox" label="Example Group")
            .settings-bottom
              .row
                .six.columns
                  button.defaultSettings.
                    Default 
                .six.columns
                  button.saveSettings.
                    Save
        .map-canvas#map-canvas
        .topleft-container
          img(src="img/cast.png" alt="Cast" title="Cast Message")#castMessageButton
        .topright-container
          img(src="img/search.png" alt="Search" title="Search Circles")#searchButton
        .bottomleft-container
          img(src="img/notifications.png" alt="Notifications" title="Notifications")#notificationsButton
        .bottomright-container
          img(src="img/settings.png" alt="Settings" title="Settings")#settingsButton
      .footer-container
        img(src="img/addButton.png" alt="Add Circle" title="Add Circle")#addCircleButton.addRemoveButtons
        img(src="img/removeButton.png" alt="Remove Circle" title="Remove Circle")#removeCircleButton.addRemoveButtons
        .footerCircle-container

    script(src="vendor/lodash/lodash.min.js")
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="vendor/jquery/jquery.datetimepicker.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2qt90yavxyrmR6Ff61nUniGmLMi51AlY")
    script(src="js/main.js")
