doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title the social circle
    link(rel="stylesheet" href="vendor/skeleton/css/normalize.css")
    link(rel="stylesheet" href="vendor/skeleton/css/skeleton.css")
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
      
    header
      img(src="img/thesocialcircle.png", alt="Logo", title="The Social Circle")
    .container
      .map-container
        .map-canvas#map-canvas
        .topleft-container
          img(src="img/cast.png" alt="Cast" title="Cast Message")#addCircle
        .topright-container
          img(src="img/search.png" alt="Search" title="Search Circles")
        .bottomleft-container
          img(src="img/notifications.png" alt="Notifications" title="Notifications")
        .bottomright-container
          img(src="img/settings.png" alt="Settings" title="Settings")
      .footer-container

    script(src="vendor/lodash/lodash.min.js")
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2qt90yavxyrmR6Ff61nUniGmLMi51AlY")
    script(src="js/main.js")
